    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Was ist Erlebnis Film?</h2>
              <br/>
                Erlebnis Film ist ein besonderes Teambuilding Event. 
                <br/>
                Es vereint die Faszination Film von den technischen Aspekten wie Kamera, Ton und Licht hin zu den kreativen Einflüssen wie dem Drehbuchschreiben und dem Spiel vor der Kamera.
                <br/>
                <br/>
                
              </div>
        </div>
    </section>
